<%= render 'posts/sidebar'  %>

<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.png" %>
	</div>

	<div id="content">
		<h1>Hi Everyone! </h1>
		<p>Welcome to my blog posts of technologies and things I just find interesting.</p>
		<p>Feel free to follow me on social media!</p>
		<p>© Jay C. Davé</p>
	</div>
</div>