<h1>Someone is has contacted you</h1>

<table>
	<tbody>
		<tr><th>Name<td><%= @name %>
		<th>Email<td><%= @email %>
		<th>Subject<td><%= @subject %>
		<th>Message<td><%= @message %>
	</tbody>
</table>
