<div class="blog_footer">
  <p>&#169;Jay C Dav&egrave; 2014</p>

  <div class="social_footer">    
    <a href="https://www.facebook.com/Gsxr600soup"><i class="fa fa-facebook-official white fa-lg" id="facebook"></i></a>
    <a href="https://twitter.com/J_cd88"><i class="fa fa-twitter-square white fa-lg" id="twitter"></i></a>
    <a href="https://www.linkedin.com/in/jaycdave"><i class="fa fa-linkedin-square white fa-lg" id="linkedin"></i></a>
    <a href="https://github.com/jaycdave88"><i class="fa fa-github-square white fa-lg" id="github"></i></a>
  </div>


</div>