<h1>Contact/Let's talk</h1>
<div id="flash_message"></div>

<form role="form" action='/api/v1/contact' method='post' data-remote=true>
	<input type="text" placeHolder="Enter Name" name="txtName">
	<input type="email" placeHolder="Enter Email" name="txtEmail">
	<input type="text" placeHolder="Subject" name="subject">
	<textarea name='message' placeholder='Type your message here'></textarea>
	<input class="btn" type="submit" value="Send Message">
</form>