#owl-demo .item{
  margin: 3px;
}
#owl-demo .item img{

position: relative;
  display: block;

  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  width: 100%;
  height: auto;
}

#owl-text .owl-item div{
  padding:5px;
}
#owl-text .owl-item img{
  display: block;
  width: 100%;
  height: auto;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
