#expander {
  background: #ebebeb;
  background-image: -webkit-linear-gradient(top, #ebebeb, #b0b0b0);
  background-image: -moz-linear-gradient(top, #ebebeb, #b0b0b0);
  background-image: -ms-linear-gradient(top, #ebebeb, #b0b0b0);
  background-image: -o-linear-gradient(top, #ebebeb, #b0b0b0);
  background-image: linear-gradient(to bottom, #ebebeb, #b0b0b0);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #e6e6e6;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  width: 60px;
}

#expander:hover {
  background: #e0e0e0;
  background-image: -webkit-linear-gradient(top, #e0e0e0, #d6d6d6);
  background-image: -moz-linear-gradient(top, #e0e0e0, #d6d6d6);
  background-image: -ms-linear-gradient(top, #e0e0e0, #d6d6d6);
  background-image: -o-linear-gradient(top, #e0e0e0, #d6d6d6);
  background-image: linear-gradient(to bottom, #e0e0e0, #d6d6d6);
  text-decoration: none;
}

