// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// iphone 5 & 5s
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) { 
	.menu_items li {
	  height: 20px;
	  margin-bottom: 30px;

	}

}

.blog_footer{
  background-color:#1E2629;
  width:auto;
  padding: 4px;
  border-top: 1px solid white;
  overflow-y: hidden;
  bottom: 0;
  opacity: .9;

}

.blog_footer > p{
  color:white;
} 

.white{
  color:white;
}


.social_footer>a{
  padding: 10px;
}