html,body{
  margin:0;
  text-align:center;
  background-color:#fff;
  font-family: helvetica;
}
/*-------------------------*/
/*bullet removal*/
/*-------------------------*/
ul{
  list-style-type: none;
}
/*-------------------------*/
/*load screen*/
/*-------------------------*/

.load_panel{
  z-index: 400;
  position: absolute;
}
#loader{
  position:fixed;
  top:0;
  width:100%;
  background-color:black;
  height:100%;
  text-align:center;
  margin:0;
  padding:0;
  overflow:hidden;
  border-radius: 5px;
  box-shadow: 10px;
}
canvas{
  display:block;
  vertical-align:bottom;
}

#particles-js{
  width:100%;
  background:black;
}

/*-------------------------*/
/*header*/
/*-------------------------*/

.big_head{
  background-color: #b61924;
  width: 100%;
  height: auto;
  font-size: 50px;
  color: #fff;
  margin: 0 auto;
  padding: 20px;
}
/*-------------------------*/
/*jump links*/
/*-------------------------*/

body > div.contain-to-grid.sticky > nav a{
  background-color: yellow;
  font-size: 16px;
}
body > div.big_head > div > nav{
  width: 100%;
}
body > div.big_head > div > nav > ul > center > a:nth-child(1){
  color:white;
}
body > div.big_head > div > nav > ul > center > a:nth-child(1):hover{
  color:#b61924;
}

/*-------------------------*/
/*footer*/
/*-------------------------*/

footer{
  background-color: #b61924;
  color: #fff;
  font-weight: bold;
  padding-bottom: 10px;
}

#thanks{
  color: #b61924;
}
#thanks:hover{
  color: #fff;
}
/*-------------------------*/
/*carousel*/
/*-------------------------*/
#carousel{
  width: 50%;
  margin: 0 auto;
}
