<div id="headers">
	<h2 class='headers'>
		<span class="line_center">
			<a name="about_me" style="cursor:default">
				About Me
			</a>
		</span>
	</h2>

	<p><h3><b>You Probably Want To Look At My Work.</b></h3></p>

		<p><h4><i>That’s cool. But sit tight: Lets break the ice a little.</i></h4></p>

		<p>My name is Jay C. Davé and I am an advert learner in all aspects of life. With that being said I recently attended a Development boot camp (2014) where I utilized my tenacious work ethic to learn a new skill set, of web development.</p>

		<p>Throughout my life for as long as I can remember I have always been a problem solver, from something as simple as fixing a hair dryer when I was 10 years old with nothing more then a lighter and a paperclip to writing an application that would calculate the total CPU usage depending on what user activity was being performed within different web browsers.</p>

		<p>I also enjoy anything that is outdoors; hiking, climbing, running, & etc. I have been to a few exotic places in my life thus far and from how the list stands now… The winner hands down is Thailand. There was something surreal about being free in the jungle and being able to walk bare foot that burned the mental image into my head that Thailand was my best vacation so far.</p>

		<p>Family is very important to me, I am the baby of the family I only have one older sister who is now married (2014). My mother and father are in Chicago where I am originally from; they have been happily married for 30 years now. I am very happy and lucky to have such amazing role models in my life where they continue to guide me.</p>
