<div id="headers">
	<h2 class='headers'>
		<span class="line_center">
			<a name="about_me" style="cursor:default">
				About Me
			</a>
		</span>
	</h2>

	<h4><b>You Probably Want To Look At My Work.</b></h4>

		<h5><i>That’s cool. But sit tight: Lets break the ice a little.</i></h5>
		<br>
		

		<p>Hello, my name is Jay C. Davé. I am an avid learner, in all aspects of life!! I recently completed a web development boot camp (2014) where I was able to utilize my tenacious work ethic to learn a completely new skill. I was beyond excited, and continue to hone my craft.  </p>

		<p>Throughout my life, for as long as I can remember, I have always been a problem solver. I recall getting super excited from something as simple as fixing a hair dryer with nothing more than a lighter and a paperclip, which was my claim to fame at a mere 10-years of age! I’ve since moved onto writing code, more recently developing an application that calculates the total CPU usage depending on user activity being performed within different web browsers.</p>

		<p>I also enjoy the outdoor life: hiking, climbing, running, & etc. I also enjoy travelling. To date, I have been to a few exotic places, Thailand being my favorite by far!  There was something so surreal about being free in the jungle and being able to walk barefoot, without any inhibitions. I will never forget that vacation, my first taste of truly immersing myself in a different culture.</p>

		<p>Family is very important to me; it is my beginning. I am the baby of the family. I only have one older sister, who is now married (2014). My mother and father are in Chicago, where I am originally from. They are happily married with 30 years and counting! I am very happy and lucky to have such amazing role models in my life. They continue to nurture and guide me as move through this extraordinary life!</p>


</div>
