<div class="big_head">
  <span>
    Jay C Davé
  </span>
  <p class="rotate">Full-Stack Developer, QA Tester, Guide for Newer Developers, Music Lover, Outdoor Enthusiast, World Traveler, Food Junkie, Movie Buff</p>
  <div>
    <nav class="top-bars" data-topbar role="navigation" data-options="sticky_on: small">

      <center class="nav_links">
        <a href="#about_me" class="smoothScroll">About Me</a>
        &nbsp;|&nbsp;
        <a href="#time_line" class="smoothScroll">Timeline</a>
        &nbsp;|&nbsp;
        <a href="#contact_me" class="smoothScroll">Contact Me</a>
        &nbsp;|&nbsp;
       <a href="javascript:window.open('<%=asset_path( 'uc.html' )  %>', 'Under Construction', 'width=200,height=150');">Blog</a>
      </center>
    </nav>
  </div>
  <a href="<%=asset_path( 'resume.pdf' )  %>" target="_blank" class="buttons">DOWNLOAD RESUME</a>
</div>
  </div>
<div class="splitter"></div>
</div>