
  <div class="big_head">
    <span>
      Jay C Davé
    </span>
    <br>
    <br>

    <p class="rotate">Full-Stack Developer, QA Tester, Guide for Newer Developers, Music Lover, Outdoor Enthusiast, World Traveler, Food Junkie, Movie Buff, iOS Developer</p>
    <div>
      <nav class="top-bars" data-topbar role="navigation" data-options="sticky_on: small">

        <center class="nav_links">
          <a href="#about_me" class="smoothScroll">About Me</a>
          &nbsp;|&nbsp;
          <a style="cursor:default;">Timeline</a>
          &nbsp;|&nbsp;
          <a href="#contact_me" class="smoothScroll">Contact Me</a>
          &nbsp;|&nbsp;
          <a href="/posts">Blog</a>
          &nbsp;|&nbsp;
          <a href="http://www.jcdenterprisesinc.com/" target="_blank">Business</a>
          
        </center>
      </nav>
    </div>
    <br>

    <a href="<%=asset_path( 'resume.pdf' )  %>" target="_blank" class="buttons">DOWNLOAD RESUME</a>
  </div>
  <div class="splitter"></div>


