<footer>
	<div class="splitter"></div>
	<ul id="copyright">
		&#169;Jay C Dav&egrave; 2014
	</ul>

	<div class="bar">
		<div class="social">

			<div class="link_button" id="linkedin">
				<a href="http://linkedin.com/in/jaycdave" target="_blank"><img src="<%=asset_path( 'linkdin.png')%>"</img></a>
			</div>

			<div class="link_button" id="github">
				<a href="https://github.com/jaycdave88" target="_blank" ><img src="<%=asset_path( 'github.png')%>"</img></a>
			</div>

			<div class="link_button" id="twitter">
				<a href="https://twitter.com/J_cd88" target="_blank" ><img src="<%=asset_path( 'twitter.png')%>"</img></a>
			</div>

			<div class="link_button" id="facebook">
				<a href="https://www.facebook.com/Gsxr600soup" target="_blank" ><img src="<%=asset_path( 'facebook.png')%>"</img></a>
			</div>

		</div>
	</div>
</div>
</footer>
