<ul class="example-orbit-content" data-orbit>
  <li data-orbit-slide="headline-1">
    <div>
      <h2></h2>
      <img u="image" src="<%=asset_path( 'profilePic.jpg' )  %>">
      <h3>Subheadline</h3>
    </div>
  </li>
  <li data-orbit-slide="headline-2">
    <div>
      <h2></h2>
      <img u="image" src="http://www.clker.com/cliparts/d/7/e/7/12684373732038238003smiley%20face%20emoticon.svg.thumb.png" />
      <h3>Subheadline</h3>
    </div>
  </li>
  <li data-orbit-slide="headline-3">
    <div>
      <h2></h2>
      <h3>Subheadline</h3>
    </div>
  </li>
</ul>