<div class="splitterSkill"></div>
<div class+"row"></div>
<div class="skills">
	<div id="headers">
		<h2 class="headers">
			<span class="line_centerBlk">
				Dev Stack
			</span>
		</h2>
	</div>
	<div class="section group">
		<div class="small-6 columns">
			<span>
				<p>Ruby</p>
				<p>HTML/CSS</p>
				<p>Ruby on Rails</p>
				<p>TDD</p>
				<p>Active Record</p>
				<p>Sinatra</p>
				<p>SQL</p>
				<p>Instagram API</p>
				<p>Java</p>
			</span>
		</div>
		<div class="small-6 columns">
			<span>
				<p>Javascript</p>
				<p>jQuery</p>
				<p>Heroku</p>
				<p>OOP</p>
				<p>Git + Github</p>
				<p>Google APIS</p>
				<p>Bootstrap / Foundation</p>
				<p>AJAX</p>
				<p>Node.js</p>
			</span>
		</div>
	</div>
</div>

<div class="splitter"></div>