<div class="splitterSkill"></div>
<div class="row"></div>
<div class="large-6 columns"></div>
<div class="skills">
	<div id="headers">
		<h2 class="headers">
			<span class="line_centerBlk">
				Dev Stack
			</span>
		</h2>
	</div>
	<div class="section group">
		<div class="col span_1_of_2">
			<span>
				<p>Ruby</p>
				<p>HTML/CSS</p>
				<p>Ruby on Rails</p>
				<p>TDD(RSpec + Capybara)</p>
				<p>Active Record</p>
				<p>Sinatra</p>
				<p>SQL</p>
				<p>Instagram API</p>
			</span>
		</div>
		<div class="col span_1_of_2">
			<span>
				<p>Javascript</p>
				<p>jQuery</p>
				<p>Heroku</p>
				<p>OOP</p>
				<p>Git + Github</p>
				<p>Google APIS</p>
				<p>Bootstrap / Foundation</p>
				<p>AJAX</p>
			</span>
		</div>
	</div>
</div>
</div>
</div>


<div class="splitter"></div>