

<div class="splitter"></div>


<div class="big_head">
	<div class="row">
	<div id="title">
		<span>
			<em>
				<img src="<%=asset_path( 'Quote.png')%>"
			</em>
		</span>
		<div id="headers">
			<h2 class="headers">
				<span class="line_centerBlk">
					Testimony
				</span>
			</h2>
		</div>
		<div id="owl-text" class="owl-carousel">

			<p>"Jay and I have worked closely together on a team project and he was an essential member to our team. Not only is he a great team player, but he is an incredibly talented programmer with an amazing attention to detail. He is passionate about code, quick learner, diligent and always ready to take on new challenges."
				<br>
				<br>
			- Nadia KG 
			<br>
			QA Analyst At Apple</p>

			<p>"Jay has a great creative spirit when it comes to problem solving - full of great ideas and the blessed with effective communication skills to share them. On top of that, his relentless approach to getting results made him a welcome team member."
				<br>
				<br>
			- Ruskin Constant
				<br>
				The Global Fund</p>
			<p>"Working with Jay was an absolute pleasure.   He is a highly dedicated, motivated person who goes to great lengths to gain a deep understanding of complex concepts while encouraging others around him to do the same with his positive attitude."  
				<br>
				<br>
			- Tali Herzka 
				<br>
			Implementation Scientist at Transcriptic</p>

			<p>"One thing that was evident while working with Jay is his passion for software engineering. He is quick-minded, loyal, and dedicated to building solid products. Out of all the good things I could mention, perhaps the largest testimony is that I always have a hell of a time working with Jay."
				<br>
				<br>
				- Clark Feusier
			</p>

			<p>"After attending Dev Bootcamp with Jay in the summer of 2014, I was very impressed with his ability to cope with the rigors of the boot-camp, and also the degree to which he offered help to his peers.  Dev Bootcamp presented many unique challenges to the "boots" taking part, and Jay met those challenges head on.  I personally worked with him on many projects, and admired his willingness to share knowledge, ask questions, and push through the most difficult of problems to find a solution.  He refused to give up, and grew his skills enough to become a team-lead during our cohort's final project phase, where his team found great success and presented an awesome working product.  Given the chance, I'd love to work with Jay again, and value the time we spent together at DBC San Francisco."
				<br>
				<br>
				- Andrew McClellan
				<br>
				Red Nova Labs
			</p>


		</div>
	</div>
	</div>
</div>

<div class="splitter"></div>

