<div class="splitter"></div>

<div class="big_head">
	<div id="title">
		<span>
			<em>
				<img src="<%=asset_path( 'Quote.png')%>"
			</em>
		</span>
		<div id="headers">
			<h2 class="headers">
				<span class="line_centerBlk">
					Testimony
				</span>
			</h2>
		</div>
		<div id="owl-text"</div>
			<p>"Jay and I have worked closely together on a team project and he was an essential member to our team. Not only is he a great team player, but he is an incredibly talented programmer with an amazing attention to detail. He is passionate about code, quick learner, diligent and always ready to take on new challenges." <br>
				- Nadia KG <br> 
				QA Analyst At Apple.</p>
				<div>
					<p>"Jay has a great creative spirit when it comes to problem solving - full of great ideas and the blessed with effective communication skills to share them. On top of that, his relentless approach to getting results made him a welcome team member." <br>
						- Ruskin Constant</p>
					</div>
					<div>
						<p>
							THis is test 3
						</p>
					</div>
					<div>
						<p>
							This is test 4
						</p>
					</div>
					<div>
						<p>
							This is test 5
						</p>
					</div>
					<div>
						<p>
							This is test 6
						</p>
					</div>
					<div>
						<p>
							This is test 7
						</p>
					</div>
					<div>
						<p>
							This is test 8
						</p>
					</div>
					<div>
						<p>
							This is test 9
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="splitter"></div>
