<div class="splitter"></div>
<div class="big_head">
	<div id="title">
		<span>
			<em>
				<img src="<%=asset_path( 'Quote.png')%>"
			</em>
		</span>
		<h2>Testimony</h2>
		<div id="owl-text"</div>
			<p>This is test 1</p>
			<div>
				<p>This is test 2</p>
			</div>
			<div>
				<p>
					THis is test 3
				</p>
			</div>
			<div>
				<p>
					This is test 4
				</p>
			</div>
			<div>
				<p>
					This is test 5
				</p>
			</div>
			<div>
				<p>
					This is test 6
				</p>
			</div>
			<div>
				<p>
					This is test 7
				</p>
			</div>
			<div>
				<p>
					This is test 8
				</p>
			</div>
			<div>
				<p>
					This is test 9
				</p>
			</div>
		</div>
	</div>
</div>
<div class="splitter"></div>
