<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title><%= content_for?(:title) ? yield(:title) : "Jay C Davé" %></title>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
	<%= stylesheet_link_tag "application" %>
</head>

<body>

	<%= yield %>
	<a href="#top" id="top" class="scrollToTop"></a>
	<%= javascript_include_tag "application" %>
	<script type='text/javascript' src='https://s0.wp.com/_static/??-eJyNkdFugzAMRX9oIUNdH6d9S2pMcTBJhh0Yf78MCdRWFetT7Jt7bizHzslADIpBrRfb4ESA6afy8mZvroZsEucrBbEUWgqky148erXDAcWmfLECo5v5L1h6SoYp9KaNkMW0dPSGdHFUiE2JKaz/zjguFSzA+DIkTKXq4mx2/YDFIXqyOt+d//o9anLQm9fcT123y3KKzKS4jr81B7HgxpgFeZ9jEw4YJcbGXB1zWel9d0CNKCkGoQnNVNYanyjVQGFLoACct3+Y23jxCPoYv2WvuHUiqCuw9qnkSyG+hs/641TXp/N7ffa/iLYCuA=='></script>
</body>
</html>

